<!DOCTYPE html>
<html lang="en" ng-app="deployer">
    <head>
        <meta charset="UTF-8">
        <title>Deployer</title>

        <script src="js/angular.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/socket.io.js"></script>
        <!--script src="js/bootstrap.min.js"></script-->

        <script src="js/main.js"></script>

        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">

    </head>
    <body ng-controller="MainController">

        <header>
            <h1>RZT Internal Deployer</h1>
        </header>

        <div class="main-wrapper">

            <div class="command-list">

                <div class="command-group">
                    <h3>SubVersion</h3>
                    <ul class="task-lists">
                        <li class="task-item"> <button class="btn btn-default" ng-click="sendCommandRequest('/actions/svn/update')">SVN Update</button> </li>
                    </ul>
                </div>

                <hr>

                <div class="command-group">
                    <h3>Jetty Server</h3>
                    <ul class="task-lists">
                        <li class="task-item"> <button class="btn btn-primary" ng-click="sendCommandRequest('/actions/server/build')">Server Build</button> </li>
                        <li class="task-item"> <button class="btn btn-success" ng-click="sendCommandRequest('/actions/server/restart')">Server Restart</button> </li>
                        <li class="task-item"> <button class="btn btn-warning" ng-click="sendCommandRequest('/actions/server/stop')">Server Stop</button> </li>
                    </ul>
                </div>

                <hr>

                <div class="command-group">
                    <h3>MySQL</h3>
                    <ul class="task-lists">
                        <li class="task-item"> <button class="btn btn-default" ng-click="sendCommandRequest('/actions/mysql/restart')">Mysql Restart</button> </li>
                        <li class="task-item"> <button class="btn btn-default" ng-click="sendCommandRequest('/actions/mysql/stop')">Mysql Stop</button> </li>
                    </ul>
                </div>
                
                <hr>

                <div class="command-group">
                    <h3>Client App</h3>
                    <ui class="task-lists">
                        <li class="task-item"><button class="btn btn-default" ng-click="sendCommandRequest('/actions/git/pull')">Git Pull</button></li>
                        <li class="task-item"><button class="btn btn-default" ng-click="sendCommandRequest('/actions/gulp/dist')">Build App</button></li>
                    </ui>
                </div>

                <div class="custom-command-wrapper">
                    <input type="text" id="custom-command" ng-model="cmdText" placeholder="Enter custom unix command" ng-keypress="sendOnEnter($event)">
                    <button class="custom-command-send btn btn-default" ng-click="sendCustomCommand()">Submit</button>
                </div>

            </div>

            <hr>

            <div class="response-wrapper">

                <div class="tab-wrapper">
                    <ul class="tabs">
                        <li class="tab-item" ng-class="{active: isTerminalActive}" ng-click="switchTab('term')"> Terminal </li>
                        <li class="tab-item" ng-class="{active: isLogActive}" ng-click="switchTab('log')"> Server Log </li>
                    </ul>
                </div>

                <div class="tab-view">
                    <div class="terminal-wrapper" ng-show="isTerminalActive">
                        <textarea ng-model="response" class="term stdout" readonly></textarea>        
                    </div>
                    <div class="log-wrapper" ng-show="isLogActive">
                        <textarea ng-model="logs" class="term logs" readonly></textarea>
                    </div>
                </div>

            </div>

        </div>

    </body>
</html>